*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: #5C4040;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

.logo a{
    text-decoration: none;
    color: white;
}

.show, .icon, .icon-delete, .imput-invisible{
    display: none;
}

@media all and (max-width: 968px) {

    nav .logo{
        padding-left: 30px;
        width: 100%;
    }

    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

}

.icon{
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
}

/* ------------------------------------------------------ */
/* Agregar tareas */
.add{
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 720px;
    background: #fff;
    border-radius: 5px;
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 2px solid #5C4040;
    color: #5C4040;
}

.wrapper form{
    margin: 35px 30px;
}

form .dbl-field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #5C4040;
    color: #5C4040;
}

form .field input::placeholder,
form .message textarea::placeholder{
    color: #5C4040;
}

form .field input:focus,
form .message textarea:focus{
    border: 2px solid #5C4040;
}

form .field i,
form .message i{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #5C4040;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}



form .message{
    position: relative;
}

form .message i{
    top: 30px;
    font-size: 20px;
}

form .message textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}

form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.button-area button{
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: #5C4040;
    padding: 13px 25px;
}

.button-area span{
    color: #5C4040;
    margin-left: 30px;
}

@media(max-width: 600px){
    .wrapper header{
        text-align: center;  
    }
    
    form .dbl-field{
        margin-bottom: 0px;
        flex-direction: column;
    }

    .dbl-field .field{
        width: 100%;
        margin-bottom: 20px;
    }

    form .message textarea{
        resize: none;
    }

    form .button-area{
        flex-direction: column; 
    }
    
    .button-area button{
        width: 100%;
    }

    .button-area span{
        text-align: center;
        margin: 20px 0;
    }

    
    .input-date{
        background-color: #8d0263;
    }

}

/* ------------------------------------------------------ */
/* Tareas */

.view{
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task{
    width: 720px;
    background: #fff;
    border-radius: 5px;

}

.task header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 2px solid #5C4040;
    color: #5C4040;
    display: flex;
    justify-content:space-between;
}

.task header span{
    font-size: 15px;
    font-weight: 200;
}

.task .description{
    margin: 35px 30px;
}

form .delete-area{
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.delete-area button{
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: #5C4040;
    padding: 7px;
    right: 30px;
}

@media(max-width: 600px){
    
    
    .view{
        margin-bottom: 0px;
        flex-direction: column;
        width: 100%;
    }

    .task{
        width: 100%;
        margin-bottom: 7px;
    }

    .icon-delete{
        display: block;
        color: white;
        position: absolute;
        right: 80px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

}
